header {
  background-color: #35424a;
  color: #fff;
  padding-top: 5px;
  max-height: 190px;
  border-bottom: #82b541 3px solid;
}
header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header ul {
  padding: 0;
  margin: 0;
}
header li {
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: left;
}
header #branding h1 {
  margin: 0;
}
header nav {
  float: right;
  padding: 10px;
  background-color: #35424a;
  margin-bottom: 0;
}
header .highlight,
header {
  color: #82b541;
  font-weight: bold;
  font-size: 40px;
}

.current a {
  color: #82b541;
  font-size: 17px;
}
header a:hover {
  color: #666;
  font-weight: bold;
}
