#bottom {
  min-height: 620px;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

#bottom .wrapper {
  background-image: url(../../../resources/images/call.jpg) -400px fixed;
  padding: 30px;
  height: 260px;
  margin-bottom: 0;
}
