#showcase {
  min-height: 620px;
  background: url(../../../resources/images/showcase.jpg) -400px fixed;
  text-align: center;
  color: #fff;
}
#showcase h1,
h5 {
  margin-top: 200px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p {
  font-size: 20px;
}

#newsletter {
  padding: 1px;
  color: #fff;
  background-color: #35424a;
}
#newsletter form {
  margin: auto;
}
#login_button {
  background-color: #82b541;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  width: 200px;
  cursor: pointer;
  padding: 14px 19px 14px 19px;
  margin: 25px;
}
#signup_button {
  background-color: #22a7f0;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  width: 200px;
  cursor: pointer;
  padding: 14px 19px 14px 19px;
  margin: 25px;
}

.showcase .container {
  padding: 70px;
  size: inherit;
}
